.manage_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 27.04vw;
    top: 8.20vw;
    width: 67.70vw;
    height: 42.70vw;
    overflow: hidden;
    overflow-y: scroll;
    align-items: center;
    gap: 3.68vw;
}

.manage_container::-webkit-scrollbar {
    display: none;
}

.p-button-danger {
    background: linear-gradient(90deg, #A70000 0%, #6A1313 100%);
    padding: 0.26vw;
    margin: 8px;
    border-radius: 0.26vw;
    border: 0;
    font-size: 1vw;
}
.p-button-danger:hover {
    background: #ff0000;
}

.p-button-normal {
    background: white;
    color: black;
    padding: 0.26vw 0.52vw 0.26vw 0.52vw;
    margin: 8px;
    border-radius: 0.26vw;
    border: 0;
    font-size: 1vw;
}