
.main__button {
    background: var(--main-color);
    color: var(--secondary-color);
    border-radius: 0.52vw;
    border: none;
    font-size: 1.56vw;
    padding: 0.78vw 10.41vw 0.78vw 10.41vw;
    cursor: pointer;
}

.main__button__text {
    transition: .15s;
}

.main__button:hover {
    background: var(--third-color);
    color: var(--main-color);
}
.main__button:hover > .main__button__text {
    transform: scale(1.1);
}